<div mat-dialog-title>
    <h1>Añadir compañeros</h1>
</div>
<form (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="content">
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Compañeros</mat-label>
                <input matInput type="text" placeholder="Ej. Roberto" name="firstName">
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [mat-dialog-close]="false">Cancelar</button>
        <button mat-raised-button color="primary" type="submit" [ngStyle]="{'background-color': '#05165b', 'color': 'white'}" >{{data ? 'Actualizar': 'Guardar' }}</button>

    </div>
</form>