@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Raleway:ital,wght@0,300;0,400;0,700;0,900;1,900&display=swap');

.body {
    --background: linear-gradient(135deg, #ffc400 0%, #afacac 50%, #05165b 100%);
    --color-primary: #f3ba00;
    --color-secondary: #05165b;
    --boton-padding: 20px 40px;

    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    background: var(--background);
    height: 100vh;
    overflow: hidden;

    display: flex;
    justify-content: center; /* Centrado horizontal */
    align-items: center; /* Centrado vertical */
}

.profile {
    width: 50vw; /* Reduciendo el ancho para que quepan dos columnas */
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);

    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas de tamaño flexible */
    gap: 15px; /* Espacio entre las columnas */
}

.field {
    margin-bottom: 15px;
    grid-column: span 1; /* Cada campo ocupa una columna */
}

.label {
    display: block;
    font-weight: bold;
    color: var(--color-secondary);
    white-space: nowrap; /* Evita el salto de línea si el texto es largo */
}

.data {
    display: block;
    margin-top: 5px;
    color: #333;
    white-space: nowrap; /* Evita el salto de línea si el texto es largo */
}

h2 {
    color: #0071c5; /* Change this color to the blue shade you want */
    margin-bottom: 20px;
    font-family: 'Pacifico', cursive;
    font-size: 1.7rem;
}

.field {
    margin-bottom: 15px;
}

.label {
    display: block;
    font-weight: bold;
    color: var(--color-secondary);
}

.data {
    display: block;
    margin-top: 5px;
    color: #333;
}

.back-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: var(--color-primary);
    border: 1px solid #00508c;
    color: #fff;
    text-decoration: none;
    border-radius: 25px;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
    width: 90px;
}

.back-btn:hover {
    background-color: #00508c;
    color: #fff;
}
