@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,700;0,900;1,900&display=swap');

.all_home{
    --background: linear-gradient(135deg, #667eee7a 0%, #3033df88 100%);
    --color-primary: #f3ba00;
    --color-secondary: #05165b;
    --boton-padding: 20px 40px;

    font-family: 'Raleway', sans-serif;
}

.container{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    padding: 80px 0;
}

.subtitle{
    color: var(--color-secondary);
    font-size: 2.5rem;
    margin-bottom: 35px;
}

.options_subtitle{
    color: var(--color-primary);
    font-size: 2.5rem;
    margin-bottom: 35px;
}

.home{
    height: 100vh;
    background-image: var(--background), url('../../imagenes/inicio.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
}

.home .container{
    padding: 0;
}

.nav{
    display: flex;
    justify-content: flex-end;
    height: 70px;
    align-items: center;
    font-weight: 700;
    font-size: 1.2rem;
}

.nav_items{
    color: #000000;
    text-decoration: none;
    margin-right: 20px;
    padding: 10px 15px;
    font-weight: inherit;
    border-bottom: 1px solid #000000;
    transition: color 0.3s, border-bottom-color 0.3s;
}

.nav_items:hover {
    color: var(--color-primary);
    border-bottom-color: var(--color-primary);
}

.home_container{
    display: flex;
    height: calc(100vh - 70px);
    align-items: center;
    color: var(--color-primary);
}

.home_subtitle{
    color: #ffffff;
}

.home_wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
}

.home_texts{
    width: 80%;
    margin-bottom: 50px;
}

.home_title{
    font-size: 3.7rem;
}

.home_subtitle{
    font-size: 2.5rem;
    font-weight: 300;
    margin: 15px 0;
}

.description{
    background: #ffffff;
}

.description_text{
    font-size: 1.2rem;
}

.options{
    background: #dbd5d5;
}

.options_grid{
    display: grid;
    height: 250px;
    grid-template-areas: "img1 img2";
    gap: 10px;
}

.options_item{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.options_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor:pointer;
}

.options_hover{
    position: absolute;
    background: #f3ba008c;;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX(100%);
    cursor: pointer;
    transition: transform .3s ease-in-out;
}

.options_item:hover .options_hover{
    transform: translateX(0%);
}

.options_item a {
    text-decoration: none; /* Quita la subrayado predeterminado */
    color: black; /* Cambia el color del texto a negro */
}

.options_img_chatbot {
    background-image: url('../../imagenes/chatbot.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.options_img_materia  {
    background-image: url('../../imagenes/materias.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*Responsividad*/
@media screen and (max-width: 800px){
    :root{
        --boton-padding: 18px 40px;
    }

    .nav{
        justify-content: space-around;
        font-size: 0.8rem;
    }

    .nav_items{
        font-weight: 400;
        margin-right: 0;
    }

    .home_texts{
        width: 100%;
        margin-bottom: 80px;
    }

    .home_title{
        font-size: 2.5rem;
    }

    .home_subtitle{
        font-size: 1.5rem;
    }

    .subtitle{
        font-size: 1.5rem;
    }
    
    .options_subtitle{
        font-size: 1.5rem;
    }

    .description_text{
        font-size: 0.8rem;
    }
}