<div class="body">
	<div class="login_container">
        <div class="container">
            <form >
                <h1>Login</h1>
                <div class="input-container">
                    <input type="text" name="code" required #codeInput>
                    <label>Código</label>
                </div>
                <div class="input-container">
                    <input type="password" name="password" required #passwordInput>
                    <label>Contraseña</label>
                </div>
                <a class="recuperar" href="recoverPassword.html">Recuperar contraseña</a>
            </form>
            <button (click)="click()">Iniciar sesión</button>
        </div>
        <div class="image1">
        </div>
        <div class="image2">
        </div>
    </div>
</div>
