@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Raleway:ital,wght@0,300;0,400;0,700;0,900;1,900&display=swap');

:root {
    --background: linear-gradient(135deg, #ffc400 0%, #afacac 50%, #05165b 100%);
    --color-primary: #f3ba00;
    --color-secondary: #05165b;
    --boton-padding: 20px 40px;
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    background: var(--background);
    display: flex;
    justify-content: center; /* Centrado horizontal */
    align-items: center; /* Centrado vertical */
    height: 100vh; /* Establecer el cuerpo al 100% del viewport height */
}

.profile {
    width: 90%; /* Ancho del perfil, puedes ajustarlo según necesites */
    max-width: 600px; /* Ancho máximo del perfil */
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

h2 {
    color: #0071c5; /* Change this color to the blue shade you want */
    margin-bottom: 20px;
    font-family: 'Pacifico', cursive;
    font-size: 1.7rem;
}

.field {
    margin-bottom: 15px;
}

.label {
    display: block;
    font-weight: bold;
    color: var(--color-secondary);
}

.data {
    display: block;
    margin-top: 5px;
    color: #333;
}

.back-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: var(--color-primary);
    border: 1px solid #00508c;
    color: #fff;
    text-decoration: none;
    border-radius: 25px;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
    width: 20%;
}

.back-btn:hover {
    background-color: #00508c;
    color: #fff;
}
