.newProgram {
  --color-primary: #f3ba00;
  --color-secondary: #05165b;
}

.lineYellow {
  background-color: var(--color-secondary);
  border-bottom: 8px solid var(--color-primary);
}

.title {
  background: var(--color-secondary);
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center; 
  margin-bottom: 20px; 
}

.title span {
  color: white;
  font-size: 30px;
  margin-left: 15px;
}

.button-container {
  display: flex;
  justify-content: center; 
}

.addProgram-btn 
{
  padding: 10px 25px;
  background-color: var(--color-primary);
  border: 1px solid #00508c;
  color: #fff;
  text-decoration: none;
  border-radius: 25px;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
  font-size: 18px;
  margin: 0 10px; 
}

.back-btn{
  position: fixed;
  bottom: 20px;
  left: 20px;
  margin-bottom: 20px; 
  margin-left: 20px; 
  padding: 15px 30px;
  border: none;
  border-radius: 8px;
  background-color: var(--color-primary);
  color: #fff; 
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.addProgram-btn:hover,
.back-btn:hover {
  background-color: #00508c;
  color: #fff;
}


body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.main-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
  margin: 0 auto;
  max-width: 1348px;
  mat-form-field {
    width: 95%;
  }
}

.table-container {
  width: 95%;
}
