<div class="newProgram">
    <div class="lineYellow">
      <div class="title">
        <span>Administración de Programas</span>
        <span class="example-spacer"></span>
        <button (click)="crearProgramas()" class="addProgram-btn">Crear Programa</button>
        <button (click)="crearMaterias()" class="addProgram-btn">Crear Materia</button>
      </div>
    </div>
  
    <div class="main-body">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event)" placeholder="Filter">
      </mat-form-field>
      
      <div class="table-container">
        <table mat-table [dataSource]="dataSource" matSort>
      
          <ng-container matColumnDef="codigoPrograma">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Codigo </th>
            <td mat-cell *matCellDef="let row"> {{row.codigoPrograma}} </td>
          </ng-container>
      
          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
            <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
          </ng-container>
      
          <ng-container matColumnDef="descripcion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripcion </th>
            <td mat-cell *matCellDef="let row"> {{row.descripcion}} </td>
          </ng-container>
          
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Editar </th>
            <td mat-cell *matCellDef="let row"> 
              <button mat-icon-button color="primary" (click)="click(row)">
                <mat-icon>edit</mat-icon>
              </button>   
            </td>
          </ng-container>
          
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{dataSource.filter}}"</td>
          </tr>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </div>
  
    <button class="addProgram-btn back-btn" (click)="back()">Volver</button>

  </div>
  