@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Raleway:ital,wght@0,300;0,400;0,700;0,900;1,900&display=swap');

:root{
    --background: linear-gradient(135deg, #667eee7a 0%, #3033df88 100%);
    --color-primary: #f3ba00;
    --color-secondary: #05165b;
    --boton-padding: 20px 40px;
}

body{
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    background-image: var(--background), url('./imagenes/upb.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh; 
    width: 100%; 
}

.login_container {
    display: flex;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    border-radius: 10px;
    width: 40%;
}

.image1 {
    width: 5%;
    background-color: var(--color-primary);
}

.image2 {
    width: 15%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--color-secondary);
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center; 
    background-color: #ffffff;
    padding: 20px;
    width: 80%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.container h1{
    font-family: 'Pacifico', cursive;
    text-align: center;
    padding: 0 0 25px 0;
    color: #000000;
}

.input-container {
    position: relative;
    margin-bottom: 30px;
}
  
.login-box {
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #333333;
    outline: none;
    color: var(--color-secondary);
}

label {
    position: absolute;
    top: 12px;
    left: 10px;
    color: #666666;
    transition: 0.3s;
    pointer-events: none;
}
  
input:focus + label, input:valid + label {
    top: -10px;
    font-size: 12px;
    color: var(--color-primary)
}

.input-container input:focus {
    border-color: var(--color-primary); 
}

form {
    display: flex;
    flex-direction: column;
}

.recuperar {
    display: block; 
    margin: 20px auto;
    text-decoration: none; 
    color: var(--color-primary);
    transition: color 0.3s; 
}

.recuperar:hover {
    text-decoration: underline;
    color: var(--color-secondary);
}

button[type="submit"]{
    width: 100%;
    height: 100%;
    border: none;
    background: var(--color-secondary);
    border-radius: 25px;
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;
    padding: 13px 0;
    transition: box-shadow 0.1s ease;
}

button[type="submit"]:active {
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.8);
  }
