@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,700;0,900;1,900&display=swap');

:root {
    --background: linear-gradient(135deg, #667eee7a 0%, #3033df88 100%);
    --color-primary: #f3ba00;
    --color-secondary: #05165b;
    --boton-padding: 20px 40px;
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

.profile {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #0071c5; /* Change this color to the blue shade you want */
    margin-bottom: 20px;
}

.field {
    margin-bottom: 15px;
}

.label {
    display: block;
    font-weight: bold;
    color: var(--color-secondary);
}

.data {
    display: block;
    margin-top: 5px;
    color: #333;
}

.back-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: var(--color-primary);
    border: 1px solid #00508c;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

.back-btn:hover {
    background-color: #00508c;
    color: #fff;
}
