<div mat-dialog-title>
    <h1>Formulario de Materias</h1>
</div>
<form [formGroup]="caseForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="content">
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Codigo Materia</mat-label>
                <input matInput type="text" placeholder="1" formControlName="codigoMateria">
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Nombre</mat-label>
                <input matInput type="text" placeholder="Cambiando la cultura British Airways" formControlName="nombre">
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Descripción</mat-label>
                <input matInput type="text" placeholder="" formControlName="descripcion">
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Semestre</mat-label>
                <input matInput type="text" placeholder="M1" formControlName="semestre">
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field>
                <mat-label>Elige una Fecha de Inicio</mat-label>
                <input matInput [matDatepicker]="startDatePicker"  formControlName="fechaInicio">
                <mat-hint>DD/MM/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #startDatePicker></mat-datepicker>
            </mat-form-field>
        </div>    
        <div class="row">
            <mat-form-field>
                <mat-label>Elige una Fecha Final</mat-label>
                <input matInput [matDatepicker]="endDatePicker"  formControlName="fechaFinal">
                <mat-hint>DD/MM/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #endDatePicker></mat-datepicker>
            </mat-form-field>
        </div>    
    </div>
    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
        <button mat-raised-button color="primary" type="submit">{{data ? 'Update': 'Save'}}</button>
    </div>
</form>
